<!DOCTYPE html>
<html>
    <head>
        <title>Create Deploy Card</title>
        <link rel="stylesheet" type="text/css" href="create.css">
    </head>
    <body>
        <h1>Deploy Card Creator</h1>
        <p>Are you sure you'd like to create a deploy card?</p>
        <a href = '/create_deploy_card'><button class='yes_button'>Yes</button></a>
        <a href = '/'><button class='no_button'>No</button></a>
    </body>
</html>